body {
  font-family: 'Source Sans Pro', arial, helvetica, sans-serif;
  padding-bottom: 50px;
}
h3 {
  margin-top: 50px;
}
li {
  margin: 25px 50px 0 0;
}
table {
  width: 1400px;
  margin: 0 50px 0 50px;
}
td {
  width: 50%;
  vertical-align: top;
  padding-right: 60px;
}
#title-container {
  display: flex;
  align-items: center; /* to align items vertically center */
  justify-content: flex-start; /* to align items horizontally at start */
  padding: 10px;
  background-color: white;
  border-bottom: 1px solid black;
}
#title-container img {
  height: 60px;
  width: auto;
  margin-right: 10px;
}
#title-container h1 {
  margin: 0;
}